.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
border-radius: 1rem;
background-color: rgb(37, 37, 37);
color: white;
  }

.mt {
    margin-top: 1rem;
}
p {
    font-size: 16px;
}

.mtl {
    margin-top: 7px;
    font-size: 19px;
}

.input-text {
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    font-size: 18px;
}

.container {
    margin: 3rem;
    display: flex;
}

.sand {
    width: 33%;
}

.input-text2 {
    min-height: 5rem;
}

body {
    background-color: black;
}

.styled {
    margin-top: 2rem;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(128, 115, 115);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgb(44, 41, 41);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.navbar {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 18px;
}

.navbar__signin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.navbar__signin a {
    text-decoration: none;
    transition: transform 0.1s;
    cursor: pointer;
    color: white;
}
.navbar__signin a:visited {
    color: white;
}
.navbar__signin a:hover {
    transform: scale(1.1)
}
.navbar__signin div {
    border-radius: 2rem;
    display: flex;
    margin: 1rem;
    background-color: rgb(117, 117, 117);
    width: 8rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

#imo {
    border-radius: 2rem;
    display: flex;
    margin: 1rem;
    background-color: rgb(117, 117, 117);
    width: 11rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    font-size: 18px;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__menu-items {
    margin: 1rem;
}

.footer__menu-items a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.1s;
    color: white;
}

.footer__menu-items a:visited {
    color: white;
}

.footer__menu-items a:hover {
    transform: scale(1.1)
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logo img {
    width: 25%;
}

@media (max-width: 950px) {
    .navbar__signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer__menu {
    font-size: 12px;
    }

    .footer__menu-items {
        margin: 8px;
    }


}

@media (max-width: 550px) {

    h1 {
        font-size: 25px;
    }
}

@media (min-width: 950px) {

    body {
        font-size: 21px;
    }
    .navbar {
        font-size: 23px;
    }
    .footer__menu {
        font-size: 23px;
    }
}

@media (max-width: 950px) {

    .navbar__signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
