body {
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 18px;
}

.navbar__signin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.navbar__signin a {
    text-decoration: none;
    transition: transform 0.1s;
    cursor: pointer;
    color: white;
}
.navbar__signin a:visited {
    color: white;
}
.navbar__signin a:hover {
    transform: scale(1.1)
}
.navbar__signin div {
    border-radius: 2rem;
    display: flex;
    margin: 1rem;
    background-color: rgb(117, 117, 117);
    width: 8rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

#imo {
    border-radius: 2rem;
    display: flex;
    margin: 1rem;
    background-color: rgb(117, 117, 117);
    width: 11rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}


.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}

.images__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.images__row img {
    width: 80%;
    padding: 1rem;
}








.footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    font-size: 18px;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__menu-items {
    margin: 1rem;
}

.footer__menu-items a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.1s;
    color: white;
}

.footer__menu-items a:visited {
    color: white;
}

.footer__menu-items a:hover {
    transform: scale(1.1)
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logo img {
    width: 25%;
}

label {
    font-size: 42px;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (min-width: 951px) {
    .navbar__signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer__menu {
    font-size: 12px;
    }

    .footer__menu-items {
        margin: 8px;
    }
    .section__img img {
        width: 350px;
    }
    .header__logo img {
        width: 350px;
    }

    .images__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        align-items: center;
    }
    body {
        font-size: 21px;
    }
    .navbar {
        font-size: 23px;
    }
    .footer__menu {
        font-size: 23px;
    }

    .images__row img {
        width: 400px;
        padding: 1rem;
    }
    label {
        font-size: 30px;
    }

}

@media (max-width: 950px) {
    .navbar__signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer__menu {
    font-size: 12px;
    }

    .footer__menu-items {
        margin: 8px;
    }
    .section__img img {
        width: 350px;
    }
    .header__logo img {
        width: 350px;
    }

    .images__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        align-items: center;
    }
}

@media (max-width: 550px) {

    .header__logo img {
        width: 250px;
    }
    h1 {
        font-size: 25px;
    }
}


